body{
  font-family: sans-serif;
}
.hr-cl{
  border: 5px solid white;
}
#wrapper{
  text-align: center;
}
#container{
  user-select: none;
  cursor: pointer;
  width:600px;
  height:auto;
  border-radius: 10px;
  border:1px solid black;
  text-align: center;
}
.enter-txt{
  width: 300px;
  height:30px;
  font-size: 20px;
  border-radius: 10px;
}
#save-btn{
  background: orange;
  width: 200px;
  height:30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 25px;
}
#output{
  font-size: 25px;
  background: skyblue;
  text-align: left;
}
#delete-btn{
  width: 100px;
  height:25px;
  background: limegreen;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  float: right;
}
.material-symbols-outlined {
  float: right;
  cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.display-space{
  width: 400px;
  height: auto;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
background: none;
  box-shadow: none;
  resize: none;
  overflow: auto;
}

@media only screen and (max-width:600px)
{
  #container{
    width:100%;
    height:auto;
    border-radius: 10px;
    border:1px solid black;
    text-align: center;
  }
  
}
